/* Create a flex container to arrange Sidebar and ChatWindow side by side */
.main-menu {
  display: flex;
  height: 100vh;
  //   border: 1px solid #080808;
}

/* Style for the Sidebar on the left */
.sidebar-container {
  flex: 1;
  max-width: 400px;
  background-color: #f3f2f7;
}

/* Style for the ChatWindow on the right */
.chat-window-container {
  flex: 3;
  //   padding: 16px;
  //   background-color: #ffffff;
  overflow-y: auto;
}
